<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.O.dtd">
<plist version="1.0">
	<dict>
		<key>appId</key>
		<string>comptedemosdka04ca212eb81160</string>
		<key>appPrivateKey</key>
		<string>cb7aef9229bc078272f29bc5adee849725159f9e</string>
	</dict>
</plist>